@using WebApplication1.viewModel
@model EditBooksViewModel
@{
    ViewData["Title"] = "Edit this Book";
}
<div class="row text" style="background-color: beige;">
    <div class="col-md-8 offset-2" style="margin-top: 30px; color: darkcyan;">
        <p>
            <h4>Update this Genre</h4>
        </p>
    </div>
    <div class="row" style="font-size: 15px;">
        <div class="col-md-8 offset-2">
            <form asp-action="Edit">
                <div asp-asp-validation-summary="ModeOnly" class="text-danger"></div>
                <div class="form-group text-center">
                    <img id="FrontPageId" style="max-width: 100px" />
                </div>
                <div class="form-group">
                    <label asp-for="FrontPage" class="control-label"></label>
                    <input asp-for="FrontPage" class="form-control" style="font-size: 13px; background-color: azure; color: darkslategray;" />
                    <span asp-validation-for="FrontPage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" style="font-size: 13px; background-color: azure; color: darkslategray;" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div>Avtor</div>
                <div class="form-group">
                    <label asp-for="YearPublished" class="control-label"></label>
                    <input asp-for="YearPublished" class="form-control" style="font-size: 13px; background-color: azure; color: darkslategray;" />
                    <span asp-validation-for="YearPublished" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorId">Chose author</label>
                    <select asp-for="AuthorId" class="form-control" style="font-size: 13px; background-color: azure; color: darkslategray;">
                        <option selected="selected">--Select--</option>
                        @foreach (var author in Model.Authors)
                        {
                            <option value="@author.Id">@author.FirstName @author.LastName</option>
                        }
                    </select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GenreIds">Genres:</label>
                    <select asp-for="GenreIds" class="form-control" style="font-size: 13px; background-color: azure; color: darkslategray;">
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre.Id">@genre.GenreName</option>
                        }
                    </select>
                    <span asp-validation-for="GenreIds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumPages" class="control-label"></label>
                    <input asp-for="NumPages" class="form-control" style="font-size: 13px; background-color: azure; color: darkslategray;" />
                    <span asp-validation-for="NumPages" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" style="font-size: 13px; background-color: azure; color: darkslategray;" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Publisher" class="control-label"></label>
                    <input asp-for="Publisher" class="form-control" style="font-size: 13px; background-color: azure; color: darkslategray;" />
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DownloadUrl" class="control-label"></label>
                    <input asp-for="DownloadUrl" class="form-control" style="font-size: 13px; background-color: azure; color: darkslategray;" />
                    <span asp-validation-for="DownloadUrl" class="text-danger"></span>
                </div>
                <div class="form-gorup" style="margin-bottom: 20px;">
                    <button type="submit" class="btn btn-outline-success float-right" style="margin-left: 90%; margin-top: 2%; font-size: 13px;" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil">Edit</i></button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            var output = document.getElementById("FrontPageId");
            output.src = $("#FrontPage").val();
        })
        $("#FrontPage").on("change", function () {
            var output=document.getElementById('FrontPageId');
            output.src=$(this).val();
        })
    </script>
}