@model IEnumerable<Book>
@{
    ViewData["Title"] = "List of Books";
}

<div class="row" style="background-color: beige;">
    <div style="display: flex; justify-content: space-between;">
        <div style="display: flex;">
            <form class="form-inline my-lg-0" asp-controller="Books" asp-action="Index" style="padding: 10px;">
                <div style="display: flex;">
                    <input name="searchString1" type="text" class="form-control" placeholder="Search Book.." style="font-size: 13px; padding-top: 0px; padding-bottom: 0px; background-color: ivory" />
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search" style="font-size: 13px; padding-top: 0px; margin-top: 3%; padding-bottom: 0px;"></i></button>
                </div>
            </form>
            <form class="form-inline my-lg-0" asp-controller="Books" asp-action="Index" style="padding: 10px;">
                <div style="display: flex;">
                    <input name="searchString2" type="text" class="form-control" placeholder="Search by Genre.." style="font-size: 13px; padding-top: 0px; padding-bottom: 0px;  background-color: ivory" />
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search" style="font-size: 13px; padding-top: 0px; margin-top: 3%; padding-bottom: 0px;"></i></button>
                </div>
            </form>
            <form class="form-inline my-lg-0" style="padding: 10px;" asp-controller="Books" asp-action="Index">
                <div style="display: flex;">
                    <input name="searchString3" type="text" class="form-control" placeholder="Search by Author.." style="font-size: 13px; padding-top: 0px; padding-bottom: 0px;  background-color: ivory" />
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search" style="font-size: 13px; padding-top: 0px; margin-top: 3%; padding-bottom: 0px;"></i></button>
                </div>
            </form>
        </div>
        <div style="margin-top: 1%; font-size: 13px;">
            @if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <a asp-controller="Books" asp-action="Create" class="btn btn-success">
                    <i class="bi bi-plus-circle"> Add New</i>
                </a>
            }
        </div>
    </div>
    @foreach(var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3" style="margin-top: 15px;">
            <div class="card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12" style="background-color: darkcyan;">
                        <div class="text-white" >
                            <p class="card-text">
                                <h6 class="card-title" style="margin: 0; padding-left: 5%; padding-right: 4%; padding-bottom: 2%; padding-top: 2%;">
                                    <i class="bi bi-bookmark-heart"></i><span> @item.Title</span>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a class="float-right" asp-action="Edit" asp-route-id="@item.Id" style="color: lightcyan">
                                            <i class="bi bi-pencil-square">
                                            </i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" style="color: lightcyan"><i class="bi bi-trash"></i></a>
                                    }
                                </h6>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <img src="@item.FrontPage" style="width: 100%;" height="250px;" alt="@item.Title"/>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body" style="font-size: 15px;">
                            <p class="card-text"><b>Author: </b>@item.Author.FirstName @item.Author.LastName</p>
                            <p class="card-text"><b>Year: </b>@item.YearPublished</p>
                            <p class="card-text"><b>Genres: </b><br>
                                @foreach (var genre in item.Books_Genres)
                                {
                                    <span>@genre.Genre.GenreName</span>
                                    <br />
                                }
                            </p>
                            @{
                                int suma = 0;
                                int br = 0;
                                int rating = 0;
                                @foreach(var r in item.Reviews)
                                {
                                    suma += r.Rating.GetValueOrDefault();
                                    br++;
                                }
                                if (br != 0) rating = suma / br;
                             }
                            <p class="card-text"><b>Rating: </b>@rating</p>
                        </div>
                    </div>
                    <div class="col-md-30">
                        <div class="card-footer" style="padding: 4%; background-color: powderblue;">
                            <p class="card-text" >
                                <a class="btn btn-success" style="padding-left: 6px; padding-right: 6px; padding-top: 2px; padding-bottom: 2px; margin-right: 25%; margin-left: 1%; font-size: 15px;" asp-action="Details" asp-route-id="@item.Id">Show Details <i class="bi bi-eye"></i></a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a style="font-size: 15px; padding-left: 6px; padding-right: 6px; padding-top: 2px; padding-bottom: 2px; margin-right: 1%;" asp-controller="UserBooks" asp-action="BuyBook" asp-route-id="@item.Id" class="btn btn-outline-success"><i class="bi bi-cart-plus"></i> Buy now</a>
                                }
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    }
</div>
