@model IEnumerable<Book>
@{
    ViewData["Title"] = "List of Books";
}
@if(Model.Count()==0){
    <div style="margin: 10%;">
        <h4 style="color: darkcyan">This author doesn't have books yet!</h4>
        <div>
            <a asp-controller="Authors" asp-action="Index" class="btn btn-info" style="font-size: 13px; margin-left: 25%;"><i class="bi bi-book">Go Back</i></a>
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <a style="font-size: 13px;" asp-controller="Books" asp-action="Create" class="btn btn-success">
                    <i class="bi bi-plus-circle">Add New</i>
                </a>
            }
        </div>
    </div>
}
else{
<div class="row">
    <div style="margin-top: 30px;" class="col-md-10 offset-md-1">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FrontPage)</th>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Author)</th>
                    <th>@Html.DisplayNameFor(model => model.YearPublished)</th>
                    <th>Genres</th>
                    <th>Grade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.FrontPage" alt="@item.Title" style="max-width: 100px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Author.FirstName)
                            @Html.DisplayFor(modelItem => item.Author.LastName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.YearPublished)
                        </td>
                        <td class="align-middle">
                            @foreach (var genre in item.Books_Genres)
                            {
                                <span>@genre.Genre.GenreName</span>
                                <br />
                            }

                        </td>
                        @{
                            int suma = 0;
                            int br = 0;
                            int rating = 0;
                            @foreach (var r in item.Reviews)
                            {
                                suma += r.Rating.GetValueOrDefault();
                                br++;
                            }
                            if (br != 0) rating = suma / br;
                        }
                        <td class="align-middle">
                            @rating
                        </td>
                        <td class="align-middle">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                {
                                    <a class="btn btn-outline-primary" style="padding-left: 4px; padding-right: 4px; padding-top: 2px; padding-bottom: 2px; font-size: 14px;" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    <a class="btn btn-danger" style="padding-left: 4px; padding-right: 4px; padding-top: 2px; padding-bottom: 2px; font-size: 14px;" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                    <a class="btn btn-outline-info" style="padding-left: 4px; padding-right: 4px; padding-top: 2px; padding-bottom: 2px; font-size: 14px;"  asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
                                }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}