@model IEnumerable<Author>
@{
    ViewData["Title"] = "List of Authors";
}

<div class="row" style="margin-top: 30px;">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
                    <th>@Html.DisplayNameFor(model => model.Nationality)</th>
                    <th>@Html.DisplayNameFor(model => model.Gender)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="font-size: 14px;">
                        <td class="align-middle">
                            <a style="text-decoration: none"  asp-controller="Books" asp-action="SearchByAuthorId" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.LastName)
                            </a>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Nationality)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" style="padding-left: 4px; padding-right: 4px; padding-top: 2px; padding-bottom: 2px; font-size: 14px;" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" style="padding-left: 4px; padding-right: 4px; padding-top: 2px; padding-bottom: 2px; font-size: 14px;" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="text-white" style="position: fixed; right: 30px; bottom: 30px;">
    <a style="font-size: 13px;" asp-controller="Authors" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle">Add New</i>
    </a>
</div>